@media only screen and (max-width: 1299px) {

#a-i-1 {
    background-image: url(/img/lr/fresh-stand_lr.jpg)
}
    
#a-i-2 {
    background-image: url(/img/lr/fresh-board_lr.jpg);
}   

#a-i-3 {
    background-image: url(/img/lr/fresh-bags_lr.jpg);
}
}

@media only screen and (min-width: 1300px) {

#a-i-1 {
    background-image: url(/img/hr/fresh-stand_hr.jpg)
}
    
#a-i-2 {
    background-image: url(/img/hr/fresh-board_hr.jpg);
}   

#a-i-3 {
    background-image: url(/img/hr/fresh-bags_hr.jpg);
}
}