/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* root */

:root {
    --c2: #87ffe3;
    --c1: #ff2546;
    --c3: gray;
}

/* ---------------- STRUCTURAL --------------- */
body {
    margin: 0;
    padding: 0;

}

main {
    display: grid;
    grid-template-columns: 1fr repeat(5, 2fr) 1fr; 
    grid-column-gap: 1px; 
    width: 100vw;
    background-color: lightgrey;

}

.column {
    background-color: white;
    grid-row: 1 / 20;
    top: 0;
    width: 100%;

}
.column:nth-of-type(1) {
    grid-column: 1 / 2;
}

.column:nth-of-type(2) {
    grid-column: 2 / 3;
}
.column:nth-of-type(3) {
    grid-column: 3 / 4;

}
.column:nth-of-type(4) {
    grid-column: 4 / 5;
}
.column:nth-of-type(5) {
    grid-column: 5 / 6;
}
.column:nth-of-type(6) {
    grid-column: 6 / 7;
}
.column:nth-of-type(7) {
    grid-column: 7;
}
.column:nth-of-type(8) {
    grid-column: 8 / 9;
    display: none;
}

.column:nth-of-type(9) {
    display: none;
    grid-column: 9;
}

/* ---------------- HEADER --------------- */

header {
    display: grid;
    grid-template-columns: 1fr repeat(5, 2fr) 1fr;
    grid-column-gap: 1px; 
    height: 5rem;
    position: fixed;
    width: 100vw;
    z-index: 1000000;
    background: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    grid-row-end: 0;
}

.h-title {
    grid-column: 2/7;
    align-self: center;
    grid-row: 1;
}

header h1 {
    margin-left: -0.3rem;
    margin-top: 0.7rem;
    font-family: 'Fjalla One';
    font-size: 2rem;
    grid-column: 2/5;
    position: relative;
    
}

header h1:after {
    top: -0.7rem;
    left: -0.5rem;
    content: '';
    display: block;
    position: absolute;
    background-color: var(--c2);
    height: 2rem;
    width: 10rem;
    z-index: -1;
}

.d-nav a {
    font-family: 'Crimson Text';
}

.d-nav {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    grid-column: 5/7;
    align-self: center;
    justify-self: end;
}

.d-nav li {
    float: left;
    padding: 1rem;
}

.d-nav li a {
    position: relative;
}

.d-nav li a:after {
    position: absolute;
    display: block;
    height: 1.2rem;
    width: 0;
    background-color: var(--c2);
    content: '';
    left: -0.4rem;
    top: 0.1rem;
    transition: width 0.1s ease-in;
    z-index: -1;
}

.d-nav ul li a:hover:after {
    width: calc(100% + 1rem);
    
}

.m-nav {
    display: block;
    background-color: white;
    grid-row: 1;
    grid-column: 7;
    width: 4rem;
    height: 4rem;
    align-self: center;
    position: relative;
    outline: none;
    border: 0;
    margin-right: 1rem;
}

.m-nav span {
    width: 2.5rem;
    height: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    z-index: 10001;
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    transition: all 0.2s ease-in; 
}

.m-nav span:nth-of-type(1) {
    top: 35%;
    transform: translate(-50%, -50%);
}
.m-nav span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%);
}

.m-nav span:nth-of-type(3) {
    top: 65%;
    transform: translate(-50%, -50%);
}

.m-nav-active span:nth-of-type(1) {
    transform: rotate(45deg) !important;
    left: 0.75rem !important;
    top: 1.9rem !important;  
}

.m-nav-active span:nth-of-type(2) {
    width: 0 !important;
    left: 2rem !important;
    opacity: 0 !important;
}

.m-nav-active span:nth-of-type(3) {
    transform: rotate(-45deg) !important;
    left: 0.75rem !important;
    top: 1.9rem !important;  
}


.m-nav-l {
    display: none;
    width: 100vw;
    padding: 0;
    margin: 0;
    height: 15rem;
    grid-row: 2;
    grid-column: 1/7;
    background-color: white;
    text-align: center;
    font-family: "Crimson Text";
    position: fixed;
    top: 5rem;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.m-nav-l li {
    float: none;
    padding: 1rem 0;
    font-size: 2rem;
    
}



/* ------------------------ MAIN -------------------- */

/* -------------- GENERIC --------------- */

a {
    color: black;
    text-decoration: none;
}

.spacer {
    height: 10rem;
    grid-column: 1 / span all;
}

article {
    grid-column: 1 / span 7;
    display: grid;
    grid-template-columns: 1fr repeat(5, 2fr) 1fr; 
    grid-column-gap: 1px; 
    position: relative;
}

.p-img {
    width: 100%;
    padding-bottom: 100%;
    grid-row: 1;
    background: center/cover no-repeat;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.p-txt {
    grid-row: 1;
    margin-top: 0;
    pointer-events: none;
    justify-self: start;
    display: inline-block;
    position: relative;
    height: 100%;
}

.p-title {
    font-family: "Fjalla One";
    font-size: 2rem;
    margin: 0;
    margin-top: -1.5rem;
    position: relative;
    z-index: 1;
    width: auto;
    display: inline-block;
    grid-column: 2/6;
    grid-row: 1;
    height: auto;
    align-self: start;
    justify-self: start;
}

.p-title:after {
    position: absolute;
    content: '';
    display: block;
    top: -0.8rem;
    left: -1rem;
    height: 160%;
    background-color: var(--c2);
    z-index: -1;
    width: calc(100% + 2rem );
}

.p-txt p {
    font-family: "Crimson Text";
    font-size: 1.05rem;
    align-self: end;
    position: absolute;
    top: 110%;
    display: none;
}

.p-txt a {
    pointer-events: auto;
}

.d-line {
    display: none;
}

.see-more {
    padding: 0.5rem;
    font-family: "Fjalla One";
    font-size: 1.5rem;
    background-color: var(--c1);
    color: white;
    grid-row: 1;
    grid-column: 6;
    margin-top: 5rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 6rem;
    margin-bottom: -0.5rem;
    margin-right: -0.5rem;
    align-self: end;

}

/* ----------- VARIATIONS --------------- */

.a-right .p-img {
    grid-column: 2/7;
    justify-self: end;
}

.a-right .p-txt {
    grid-column: 2 / 7;
    justify-self: start;
    width: 100%;
}

.a-right .p-txt .d-line:first-of-type {
    margin-left: 20%
}

.a-right .p-txt .d-line:last-of-type {
    margin-left: 5%;
}

.a-left .p-img {
    grid-column: 2/7;
    justify-self: start;
}

.a-left .p-txt {
    grid-column: 2/7;
    width: 100%;
    
}

.a-left .p-txt .d-line:first-of-type {
    margin-right: 20%;
    margin-left: auto;
}

.a-left .p-txt .d-line:last-of-type {
    margin-right: 5%;
    margin-left: auto;
}



/* --------------- SPECIFIC --------------- */

#astrodash {
    grid-row: 2;
}

#astrodash .p-img {
    background-image: url(/img/astrodash-thumb.svg); 
}

#astrodash .d-line {
    background-color: #c60c0e;
}

#which-one {
    grid-row: 4;
}

#which-one .p-img {
    background-image: url(/img/which-one.jpg);
}

#which-one .d-line {
    background-color: #f6cd23;
}

#ptp {
    grid-row: 6;
}

#ptp .p-img {
    background-image: url(/img/ptp-thumb.jpg);
}

#ptp .d-line {
    background-color: #fdff2d;
}

#ore {
    grid-row: 8;
}

#ore .p-img {
    background-image: url(/img/ore-thumb.jpg);
}

#ore .d-line {
    background-color: #ee4131;
}

#fresh {
    grid-row: 10;
}

#fresh .p-img {
    background-image: url(/img/fresh-thumb.jpg);
}

#fresh .d-line {
    background-color: #2dacfd;
}

#twisted {
    grid-row: 12;
}

#twisted .p-img {
    background-image: url(/img/twisted-thumb.jpg);
}

#twisted .d-line {
    background-color: #15233d;
}

#earth {
    grid-row: 14;
}

#earth .p-img {
    background-image: url(/img/where-thumb.jpg);
}

#earth .d-line {
    background-color: #d7473c;
}

#tales {
    grid-row: 16;
}

#tales .p-img {
    background-image: url(/img/tales-thumb.jpg);
}

#tales .d-line {
    background-color: #e9ce5d;
}

#s-1 {
    grid-row: 1/2;
    height: 10rem;
}

#s-2 {
    grid-row: 3;
}

#s-3 {
    grid-row: 5;
}

#s-4 {
    grid-row: 7;
}

#s-5 {
    grid-row: 9;
}

#s-6 {
    grid-row: 11;
}

#s-7 {
    grid-row: 13;
}

#s-8 {
    grid-row: 15;
}

#s-9 {
    grid-row: 17;
}

.p-jump {
    display: none;
}

.active-page {
    color: rgb(0, 0, 0, 0.4);
}