@media only screen and (max-width: 800px) {
    
    #p-i-1 {
        background-image: url(/img/lr/ore-fire-1_lr.jpg);
    }
    
    #p-i-2 {
        background-image: url(/img/lr/ore-matt_lr.jpg);
    }
}

@media only screen and (min-width: 801px) {
    
    #p-i-1 {
        background-image: url(/img/hr/ore-fire-3_hr.jpg);
        transition: all 0.1s ease-in;
    }
    
    #p-i-1:hover {
        background-image: url(/img/hr/ore-fire-1_hr.jpg);
    }
    
    #p-i-2 {
        background-image: url(/img/hr/ore-matt_hr.jpg);
    }
}