#s-1 {
    background-image: url(/img/LR/ptp_thumb_lr.jpg);
}

#s-2 {
    background-image: url(/img/LR/ptp_content_lr.jpg);
}

#s-3 {
    background-image: url(/img/LR/ptp_box_lr.jpg);
}

@media only screen and (min-width: 750px) {
    #s-1 {
    background-image: url(/img/HR/ptp_thumb_hr.jpg);
}

#s-2 {
    background-image: url(/img/HR/ptp_content_hr.jpg);
}

#s-3 {
    background-image: url(/img/HR/ptp_box_hr.jpg);
}

}