:root {
    --c1: #87ffe3;
    --c2: #ff2546;
}

body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
button {
    appearance: none;
    border: 0;
    outline: 0;
}
header {
    background-color: white;
    height: 4rem;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    width: 100%;

}

header h1 {
    font-family: 'Fjalla One';
    margin: 0;
    margin-left: 1rem;
    position: relative;
}

header h1:after {
    position: absolute;
    display: block;
    content: '';
    background-color: var(--c1);
    width: 100%;
    height: 1.8rem;
    top: -0.2rem;
    z-index: -1;
    left: -0.5rem;
}

header button {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;

}

.m-line {
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    background-color: black;
    display: block;
    border-radius: 100px;
    transform-origin: left center;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.m-line:nth-child(1) {
    top: 6px;
}

.m-line:nth-child(2) {
    top: 18px;
}

.m-line:nth-child(3) {
    top: 30px;
}

.m-line-active:nth-child(1) {
    transform: rotate(45deg);
    top: 4px;
    left: 6px;
}

.m-line-active:nth-child(2) {
    opacity: 0;
    top: 4px;
    left: 6px;
    transform: rotate(45deg)
}

.m-line-active:nth-child(3) {
    transform: rotate(-45deg);
    top: 31px;
    left: 6px;
}
#m-nav {
    width: 100%;
    position: absolute;
    background-color: white;
    top: 3.8rem;
    display: none;
}
#m-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#m-nav ul li {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

#m-nav ul li a {
    font-family: 'Crimson Text';
    font-size: 1.2rem;
}

.active-page {
        opacity: 0.5;
}


main {
    width: 100%;
    margin-top: 4rem;
    height: auto;

}

article {
    height: 100%;
    width: calc(100% - 2rem);
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

article:last-of-type {
    margin-bottom: 100px;
}
.product-text {
    margin-top: -1rem;
    position: relative;
}

.product-img {
    width: 90%;
    padding-bottom: 90%;
    margin: 0 auto;
    background-color: var(--c1);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

section h1 {
    color: black;
    position: absolute;
    margin: 0;
    font-size: 3rem;
    font-family: 'Fjalla One';
    z-index: 1;
}

section h1:after {
    position: absolute;
    display: block;
    content: '';
    background-color: var(--c1);
    width: calc(100% + 1.2rem);
    height: calc(100% + 0.6rem);
    top: -0.3rem;
    z-index: -1;
    left: -0.5rem;
}

.see-more {
    display: block;
    color: white;
    font-family: 'Fjalla One';
    background-color: var(--c2);
    padding: 0.5rem 1rem;
    margin: 0 0 0 auto;
    width: 6rem;
    text-align: center;
    font-size: 1.5rem;
}

.product-text span {
    width: 10rem;
    height: 2rem;
    left: 1.5rem;
    top: 2rem;
    position: absolute;
    background-color: var(--c1);
    display: block;
    z-index: -1;
}

.product-text p {
    margin: 4.5rem 0 1rem 2rem;
    font-family: 'Crimson Text';
}


#p-1 .product-img {
    background: url(/img/astrodash-thumb.svg);
}

#p-2 .product-img {
    background-image: url(/img/which-one-thumb.jpg);
}

#p-3 .product-img {
    background-image: url(/img/ptp-thumb.jpg);
}

#p-4 .product-img {
    background-image: url(/img/ore-thumb.jpg);
}

#p-5 .product-img {
    background-image: url(/img/fresh-thumb.jpg);
}

#p-6 .product-img {
    background-image: url(/img/twisted-thumb.jpg);
}

#p-7 .product-img {
    background-image: url(/img/where-thumb.jpg);
}

#p-8 .product-img {
    background-image: url(/img/tales-thumb.jpg);
}

#d-nav {
    display: none;
}

@media only screen and (min-width: 840px) {
    main {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: calc(100% - 4rem);
        margin: 0 auto;
    }
    
    article {
        width: calc(50% - 2rem);
        flex-shrink: 0;
    }
    .see-more {
        position: relative;
        overflow: hidden;
    }
    
    .see-more:after {
        content: '';
        display: block;
        position: absolute;
        opacity: 0.2;
        width: 0;
        height: 0;
        transition: all 0.2s ease-in;
        top: 50%;
        left: 50%;
        background: white;
        transform: translate(-50%, -50%);
        border-radius: 200px;
    }
    .see-more:hover:after {
        width: 200px;
        height: 200px;
    }
    
    header h1 {
        margin-left: 3rem;
    }
    #m-nav-ham {
        display: none;
    }
    
    #d-nav {
        display: block;
    }
    
    #d-nav ul {
        list-style: none;
        display: flex;
        margin: 0 2rem 0 0;
        padding: 0;
    }
    
    #d-nav ul li {
        padding: 1rem 2rem;
        font-family: "Crimson Text";
        font-size: 1.2rem;
        position: relative;
    }
    
    #d-nav ul li:after {
        height: 0.5rem;
        width: 0;
        transition: width 0.2s ease-in;
        position: absolute;
        z-index: -1;
        content: '';
        display: block;
        background-color: var(--c1);
        left: 45%;
        bottom: 50%;
        transform: translate(-50%,30%);
    }
    
    #d-nav ul li:hover:after {
        width: 45%;
    }
    
    
}

@media only screen and (min-width: 1400px) {
    main {
        max-width: 1600px;
    }
    
    article {
        width: calc(25% - 2rem)
    }
    
    .product-text p {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .product-text h1 {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1600px) {
    header h1 {
        margin-left: 0.5rem;
    }
    
    #d-nav ul {
        margin-right: 0;
    }
}
