@media only screen and (max-width: 800px) {
    
    #p-i-1 {
        background-image: url(/img/lr/twisted-fronts_lr.jpg);
    }
    
    #p-i-2 {
        background-image: url(/img/lr/twisted-pages_lr.jpg);
    }
}

@media only screen and (min-width: 801px) {
    
    #p-i-1 {
        background-image: url(/img/hr/twisted-fronts_hr.jpg);
    }
    
    #p-i-2 {
        background-image: url(/img/hr/twisted-pages_hr.jpg);
    }
}