@media only screen and (max-width: 1299px) {

#a-i-1 {
    background-image: url(/img/lr/where-group_lr.jpg);
}
    
#a-i-2 {
    background-image: url(/img/lr/where_on_earth_lr.jpg);
}    
    
}

@media only screen and (min-width: 1300px) {

#a-i-1 {
    background-image: url(/img/hr/where-group_hr.jpg)
}
    
#a-i-2 {
    background-image: url(/img/hr/where_on_earth_hr.jpg);
}    

}